<!DOCTYPE html>
<html>
<head>
	<title>Pecan</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/assets/css/stylesheet.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<button type="button" class="btn btn-primary">Log In</button>
			<button type="button" class="btn btn-default">Sign Up</button>
			<h1>Pecan</h1>
			<h2>The best survey application</h2>
		</div>
	</div>
</body>
</html>